<!DOCTYPE html>
<form method="post">
    <label for="fname">Name</label><br>
    <input type="text" id="nm" name="nm" placeholder="Your name..">
    <br><br>
    <label for="education">Education</label><br>
    <select id="education" name="education">
      <option name="elem">Elementary</option>
      <option name="mid">Middle</option>
      <option name="high">Highschool</option>
      <option name="uni">University</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">

</form>